* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 17, 37) !important;
  color: rgb(246, 255, 232) !important;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  width: 1200px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.bg-card {
  background-color: #212336;
  padding: 8px 20px;
  border-radius: 15px;
}
