.background-illustration {
  position: absolute;
  z-index: -2;
  top: 0;
  max-width: 600px;
  width: 100%;
  aspect-ratio: 600 / 1100;
  background-image:
    linear-gradient(rgba(4, 10, 18, 0.2), rgba(4, 10, 18, 0.2)),
    url("../img/mafiaBackground.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  box-shadow: inset 0px -50px 30px 20px #040a12;
}
