* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #040a12 !important;
  color: rgb(246, 255, 232) !important;
  font-family: "Cinzel", serif !important;
}

#root {
  width: 100%;
}

.app-wrapper {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

p {
  font-family: "Cinzel", serif !important;
}

.margin-off {
  margin: 0;
}

.text-sans-serif {
  font-family: "Montserrat", sans-serif !important;
}

.main-header {
  font-size: 44px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.text-gray {
  color: rgb(174, 174, 174);
}

.bg-player-list {
  background-color: #212336;
  padding: 8px 20px;
  border-radius: 15px;
}

.button-no-styles {
  background: none;
  border: none;
  color: white;
}

.divider {
  width: 100%;
  background-color: #fff;
  margin: 12px 0;
  border-bottom: 1px solid gray;
}

.divider:last-child {
  display: none;
}

.decoration-white-line {
  margin: 0 14px;
  width: 20px;
  border-top: 1px solid white;
}

.decoration-gray-line {
  margin: 0 10px;
  width: 20px;
  border-top: 1px solid rgb(174, 174, 174);
}
