.chat-button {
  margin-left: auto;
  margin-right: 14px;
}

.chat-button-new-message {
  color: rgb(32, 244, 32);
  animation: pulse-smooth-double 2s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

.sent-message-box {
  max-width: 80%;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: rgb(105, 105, 105);
}
.receive-message-box {
  margin-left: auto;
  max-width: 80%;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: rgb(78, 78, 78);
}

@keyframes pulse-smooth-double {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 0px rgba(32, 244, 32, 0));
  }
  9% {
    transform: scale(1.1);
    opacity: 0.8;
    filter: drop-shadow(0 0 8px rgba(32, 244, 32, 0.8));
  }
  18% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 0px rgba(32, 244, 32, 0));
  }

  27% {
    transform: scale(1.1);
    opacity: 0.8;
    filter: drop-shadow(0 0 8px rgba(32, 244, 32, 0.8));
  }
  36% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 0px rgba(32, 244, 32, 0));
  }

  100% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 0px rgba(32, 244, 32, 0));
  }
}
